<section class="container-fluid mb-3 mt-5 pe-5">
	<div
		class="row">
		<!-- Image à gauche -->
		<div class="col-lg-5 col-md-12 d-flex justify-content-center">
			<img src="{{ asset('images/Accueil/vue porte entree.png') }}" alt="{{ 'history.alt'|trans }}" class="img-fluid rounded history-image">
		</div>

		<!-- Texte à droite -->
		<div class="col-lg-7 col-md-12">
			<div class="history-overlay p-4">
				<h1 class="mb-3">{{ 'history.title'|trans }}</h1>
				<p>
					{{ 'history.text1'|trans }}
					<br><br>
					{{ 'history.text2'|trans }}
					<br><br>
					{{ 'history.text3'|trans }}
				</p>
			</div>
		</div>
	</div>
</section>
