<section class="container-fluid hero-content mt-5 pe-5">
	<div
		class="row">
		<!-- Colonne pour le texte -->
		<div class="col-lg-7 col-md-12 mb-4">
			<div class="hero-overlay">
				<h1>{{ 'hero_content.title'|trans }}</h1>
				<p>
					{{ 'hero_content.text1'|trans }}
					<br><br>
					{{ 'hero_content.text2'|trans }}
					<a href="https://www.tourisme-lotetgaronne.com/sejourner/locations-vacances/?place=CASTILLONNES" target="_blank" class="text-dark text-decoration-none">
						{{ 'hero_content.link_text'|trans }}
					</a>.
					<br>
					<a href="{{ path('houseAll') }}" class="btn btn-outline-dark mt-3">
						{{ 'hero_content.button'|trans }}
					</a>
				</p>
			</div>
		</div>

		<!-- Colonne pour l'image -->
		<div class="col-lg-5 col-md-12 d-flex justify-content-end presentation-homepage">
			<img src="{{ asset('images/house/Petite/maison.jpeg') }}" alt="{{ 'hero_content.alt'|trans }}" class="img-fluid rounded hero-image">
		</div>
	</div>
</section>
