{% extends 'base.html.twig' %}

{% block title %}
	{{ 'house1.title'|trans }}
{% endblock %}

{% block body %}
	<div class="bg-custom-house">
		<div class="container-fluid">
			<section class="house">
				<img src="{{ asset('images/house/Petite/devant.jpeg') }}" alt="{{ 'house1.alt'|trans }}" class="house-background">
				<div class="house-text">
					<h1>
						<span class="house-left">{{ 'house1.part1'|trans }}</span>
						<span class="house-right">{{ 'house1.part2'|trans }}</span>
					</h1>
				</div>
			</section>
		</div>

		<!-- Section À propos de la maison -->
		<div class="container mt-4 pe-5">
			<div class="presentation-house">
				<div
					class="row d-flex justify-content-between">
					<!-- Texte À propos de la Petite Maison -->
					<div class="col-12 col-md-6">
						<h4>{{ 'house1.about'|trans }}</h4>
						<hr>
						<p style="text-align: justify;">
							{{ 'house1.description'|trans|nl2br }}
						</p>
					</div>

					<!-- Modal pour les équipements -->
					<div class=" col-12 col-md-4">
						<h4>{{ 'house1.accommodation'|trans }}</h4><hr>
						<p>
							<strong>{{ 'house1.stars'|trans }}:</strong>
							★★★</p>
						<p>
							<strong>{{ 'house1.capacity'|trans }}:</strong>
							4
							{{ 'house1.people'|trans }}</p>
						<p>
							<strong>{{ 'house1.rooms'|trans }}:</strong>
							2</p>
						<p>
							<strong>{{ 'house1.beds'|trans }}:</strong>
							3<br><em>{{ 'house1.double_bed'|trans }}</em>
						</p>
						<p>
							<strong>{{ 'house1.bathrooms'|trans }}:</strong>
							2</p>

						<!-- Bouton pour afficher le modal avec les équipements -->
						<button class="btn-custom-outline" data-bs-toggle="modal" data-bs-target="#equipmentsModal">{{ 'house1.view_equipment'|trans }}</button>

						<!-- Modal pour les équipements -->
						{% include "_partial/_modal_equipment.html.twig" %}
					</div>
				</div>
			</div>

			<!-- Tarifs -->
			{% include "_partial/_tarifs_house1.html.twig" %}

			<!-- Galerie -->
			{% include "_partial/_gallery_house1.html.twig" %}

			<!-- Carte -->
			{% include "_partial/_map.html.twig" %}

			<!-- Contact -->
			{% include "_partial/_contact.html.twig" %}
		</div>
	</div>
{% endblock %}
