{% extends 'base.html.twig' %}

{% block title %}
	{{ 'houses.title'|trans }}
{% endblock %}

{% block body %}
	{% include "shared/_navbar.html.twig" %}

	<section class="container-fluid houseall-container mt-3">
		<div class="house-presentaion">
			<div class="container">
				<div class="row">
					<div
						class="houseall">
						<!-- Maison 1 : Image à gauche, texte à droite -->
						<div class="col-12 mb-4">
							<div class="houseall-row p-4 d-flex flex-column flex-md-row">
								<div class="houseall-image col-md-6">
									<img src="{{ asset('images/house/Petite/maison.jpeg') }}" alt="{{ 'houses.house1.image_alt'|trans }}" class="img-fluid">
								</div>
								<div class="houseall-text col-md-6">
									<h2>{{ 'houses.house1.name'|trans }}</h2>
									<p>{{ 'houses.house1.description'|trans }}</p>
									<a href="{{ path('house1') }}" class="btn-custom-outline">{{ 'houses.house1.button'|trans }}</a>
								</div>
							</div>
						</div>
					</div>

					<hr>

					<!-- Maison 2 : Image à droite, texte à gauche (inversée) -->
					<div class="col-12 mb-4">
						<div class="houseall-row p-4 d-flex flex-column flex-md-row-reverse">
							<div class="houseall-text col-md-6">
								<h2>{{ 'houses.house2.name'|trans }}</h2>
								<p>{{ 'houses.house2.description'|trans }}</p>
								<a href="{{ path('house2') }}" class="btn-custom-outline">{{ 'houses.house2.button'|trans }}</a>
							</div>
							<div class="houseall-image col-md-6">
								<img src="{{ asset('images/house/Perigourdine/vue derriere.jpg') }}" alt="{{ 'houses.house2.image_alt'|trans }}" class="img-fluid">
							</div>
						</div>
					</div>

					<div class="houseall">
						<hr>
						<!-- Maison 3 : Image à gauche, texte à droite -->
						<div class="col-12">
							<div class="houseall-row p-4 d-flex flex-column flex-md-row align-items-stretch">
								<div class="houseall-image col-md-6">
									<img src="{{ asset('images/house/Castille/vue devant.jpg') }}" alt="{{ 'houses.house3.image_alt'|trans }}" class="img-fluid">
								</div>
								<div class="houseall-text col-md-6">
									<h2>{{ 'houses.house3.name'|trans }}</h2>
									<p>{{ 'houses.house3.description'|trans }}</p>
									<a href="{{ path('house3') }}" class="btn-custom-outline">{{ 'houses.house3.button'|trans }}</a>
								</div>
							</div>
						</div>
					</div>
					<br>
					<hr>
				</div>
			</div>
		</div>
	</section>

	{% include "shared/_footer.html.twig" %}
{% endblock %}
