<div class="container-email">
	<div class="header-email">
		<h1>Confirmation de Réservation</h1>
	</div>
	<div class="content-email">
		<h2>Bonjour
			{{ user.firstname }}
			{{ user.lastname }}</h2>
		<p>Merci d'avoir réservé chez nous. Nous sommes heureux de vous confirmer votre réservation.</p>

		<div class="details-email">
			<h3>Détails de la Réservation :</h3>
			<p>
				<strong>Date de début :</strong>
				{{ booking.startDateAt|format_datetime('long', 'none', locale='fr') }}</p>
			<p>
				<strong>Date de fin :</strong>
				{{ booking.endDateAt|format_datetime('long', 'none', locale='fr') }}</p>
			<strong>Montant total :</strong>
			{{ booking.amount / 100 }}
			€
		</p>
	</div>
</div>
<div class="footer-email">
	<p>Nous sommes impatients de vous accueillir.</p>
	<p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>
	<p>Merci,</p>
	<p>Marie</p>
</div>
