<h1>Votre réservation est confirmée n°{{ booking.id }}</h1>

<div class="row">
	<div class="col-md-6">
		<h4>Votre voyage</h4>
		<div class="d-flex flex-column pb-3">
			{% if not firstImage is empty %}
				<img src="{{ vich_uploader_asset(firstImage, 'imageFile') }}" class="image-reservation" alt="{{ b.ad.name }}">
			{% else %}
				<img src="{{ asset('assets/img/default-img.jpg') }}" class="image-reservation" alt="Default Image">
			{% endif %}
		</div>
		<h5 class="fs-5 fw-bold">Dates</h5>
		<p>Du
			{{ booking.startDateAt|format_datetime('long', 'none', locale='fr') }}
			au
			{{ booking.endDateAt|format_datetime('long', 'none', locale='fr') }}</p>
	</div>

	<p>Merci à vous
		{{ user.firstname }}
		{{ user.lastname }}
		& à très vite!!</p>


	<tfoot>
		<tr>
			<td colspan="3">Total :</td>
			<td>{{ booking.amount / 100 }}
				€</td>
		</tr>
	</tfoot>
</table>
