<nav class="sidebar">
	<button class="toggle-btn" id="toggleBtn">☰</button>
	<ul class="nav-links">
		<li>
			<a href="{{ path('homepage')}}">Accueil</a>
		</li>
		<li>
			<!-- "Mes gîtes" mène à la page complète -->
			<a href={{ path('houseAll')}} class="main-link">Mes gîtes</a>
			<!-- Flèche pour ouvrir le menu -->
			<button class="dropdown-btn" id="toggleGites">▼</button>
			<!-- Sous-menu -->
			<ul class="submenu" id="submenuGites">
				<li>
					<a href={{ path('house1')}}>La petite maison
					</a>
				</li>
				<li>
					<a href={{ path('house2')}}>La périgourdine
					</a>
				</li>
				<li>
					<a href="{{ path('house3')}}">La castille
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="contact.html">Contact</a>
		</li>
	</ul>
</nav>
