<nav class="sidebar">
	<button class="toggle-btn" id="toggleBtn">☰</button>
	<ul class="nav-links">
		<li>
			<a href="{{ path('homepage')}}">Accueil</a>
		</li>
		<li>

			<a href={{ path('houseAll')}} class="main-link">Mes gîtes</a>

			<button class="dropdown-btn" id="toggleGites">▼</button>

			<ul class="submenu" id="submenuGites">
				<li>
					<a href={{ path('house1')}}>La petite maison
					</a>
				</li>
				<li>
					<a href={{ path('house2')}}>La maison des cousin
					</a>
				</li>
				<li>
					<a href={{ path('house3')}}>La grande maison
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href={{ path('contact')}}>Contact</a>
		</li>
	</ul>
</nav>
