<div class="container mt-4">
	<h4>{{ 'house3.gallery'|trans }}</h4>
	<hr>
	<div class="gallery">
		<img src="{{ asset('images/house/Castille/vue ciel1.png') }}" alt="maison" class="thumbnail" data-full="{{ asset('images/house/Castille/vue ciel1.png') }}" style="grid-column: span 2;">
		<img src="{{ asset('images/house/Castille/vue jardin.jpg') }}" alt="maison" class="thumbnail" data-full="{{ asset('images/house/Castille/vue jardin.jpg') }}">

		<img src="{{ asset('images/house/Castille/vue ciel2.jpg') }}" alt="maison" class="thumbnail" data-full="{{ asset('images/house/Castille/vue ciel2.jpg') }}" style="grid-column: span 2;">

		<img src="{{ asset('images/house/Castille/vue ouverture porte etage.png') }}" alt="Terrasse" class="thumbnail" data-full="{{ asset('images/house/Castille/vue ouverture porte etage.png') }}">
		<img src="{{ asset('images/house/Castille/terrasse nuit.png') }}" alt="Terrasse" class="thumbnail" data-full="{{ asset('images/house/Castille/terrasse nuit.png') }}" style="grid-column: span 3;">

		<img src="{{ asset('images/house/Castille/piscine.png') }}" alt="Piscine" class="thumbnail" data-full="{{ asset('images/house/Castille/piscine.png') }}">
		<img src="{{ asset('images/house/Castille/vue chemin piscine etaghe.png') }}" alt="Piscine" class="thumbnail" data-full="{{ asset('images/house/Castille/vue chemin piscine etaghe.png') }}">

		<img src="{{ asset('images/house/Castille/chambre4.png') }}" alt="chambre 4 " class="thumbnail" data-full="{{ asset('images/house/Castille/chambre4.png') }}" style="grid-column: span 1;">
		<img src="{{ asset('images/house/Castille/chambre.png') }}" alt="Chambre 1" class="thumbnail" data-full="{{ asset('images/house/Castille/chambre.png') }}" style="grid-column: span 2">
		<img src="{{ asset('images/house/Castille/lit superpose.png') }}" alt="chambre 5" class="thumbnail" data-full="{{ asset('images/house/Castille/lit superpose.png') }}" style="grid-column: span 1;">
		<img src="{{ asset('images/house/Castille/chambre1.png') }}" alt="Chambre 2" class="thumbnail" data-full="{{ asset('images/house/Castille/chambre1.png') }}" style="grid-column: span 3;">
		<img src="{{ asset('images/house/Castille/chambre3.png') }}" alt="chambre 3 " class="thumbnail" data-full="{{ asset('images/house/Castille/chambre3.png') }}" style="grid-column: span 2;">


		<img src="{{ asset('images/house/Castille/sdb.png') }}" alt="Salle de bain" class="thumbnail" data-full="{{ asset('images/house/Castille/sdb.png') }}">
		<img src="{{ asset('images/house/Castille/chambre:sdb.jpg') }}" alt="Salle de bain" class="thumbnail" data-full="{{ asset('images/house/Castille/chambre:sdb.jpg') }}" style="grid-column: span 2;">
		<img src="{{ asset('images/house/Castille/sdb.png') }}" alt="Salle de bain" class="thumbnail" data-full="{{ asset('images/house/Castille/sdb.png') }}">


		<img src="{{ asset('images/house/Castille/cuisine.png') }}" alt="Cuisine" class="thumbnail" data-full="{{ asset('images/house/Castille/cuisine.png') }}">
		<img src="{{ asset('images/house/Castille/cuisine3.png') }}" alt="Cuisine 3" class="thumbnail" data-full="{{ asset('images/house/Castille/cuisine3.png') }}" style="grid-column: span 2;">
		<img src="{{ asset('images/house/Castille/cuisine1.png') }}" alt="Cuisine 3" class="thumbnail" data-full="{{ asset('images/house/Castille/cuisine1.png') }}">

		<img src="{{ asset('images/house/Castille/salle.a manger.png') }}" alt="Table à manger" class="thumbnail" data-full="{{ asset('images/house/Castille/salle.a manger.png') }}" style="grid-column: span 2;">
		<img src="{{ asset('images/house/Castille/table huil.png') }}" alt="Salon" class="thumbnail" data-full="{{ asset('images/house/Castille/table huil.png') }}" style="grid-column: span 3;">
		<img src="{{ asset('images/house/Castille/salon.png') }}" alt="salon" class="thumbnail" data-full="{{ asset('images/house/Castille/salon.png') }}" style="grid-column: span 2;">
		<img src="{{ asset('images/house/Castille/salon2.png') }}" alt="Salon" class="thumbnail" data-full="{{ asset('images/house/Castille/salon2.png') }}" style="grid-column: span 2;">

	</div>
</div>


<!-- Diaporama Modal -->
<div id="slideshowModal" class="modal diaporama-house">
	<div class="diaporama-content">
		<span class="close">&times;</span>
		<div class="slideshow-container">
			<img id="fullImage" src="" alt="Image du diaporama" class="full-image">
		</div>
		<a href="javascript:void(0);" class="prev">&#10094;</a>
		<a href="javascript:void(0);" class="next">&#10095;</a>

		<!-- Miniatures sous l'image principale -->
		<div
			class="thumbnail-container"><!-- Miniatures ajoutées dynamiquement avec JavaScript -->
		</div>
	</div>
</div>
