<!-- Modal pour les équipements -->
<div class="modal fade" id="equipmentsModal" tabindex="-1" aria-labelledby="equipmentsModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content modal-list-equipment">
			<div class="modal-header">
				<h1 class="modal-title fs-5 fw-bold" id="equipmentsModalLabel">{{ 'equipments.title'|trans }}</h1>
				<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% set categories = {
					'Extérieur': [
						{'file': 'parking', 'label': 'equipments.Parking privé'},
						{'file': 'piscine', 'label': 'equipments.Piscine privée'},
						{'file': 'spring', 'label': 'equipments.Jardin privé'},
						{'file': 'chaise-longue', 'label': 'equipments.Chaises longues'},
						{'file': 'bbq', 'label': 'equipments.Barbecue'},
						{'file': 'bbq', 'label': 'equipments.Espace repas en plein air'},
						{'file': 'terrasse', 'label': 'equipments.Mobilier d\'extérieur'}
					],
					'Cuisine': [
						{'file': 'spatule', 'label': 'equipments.Ustensiles de cuisine'},
						{'file': 'bouilloire', 'label': 'equipments.Bouilloire'},
						{'file': 'machine-cafe', 'label': 'equipments.Cafetière'},
						{'file': 'frigo', 'label': 'equipments.Réfrigérateur/congélateur'},
						{'file': 'cuisson', 'label': 'equipments.Plaques de cuisson'},
						{'file': 'four', 'label': 'equipments.Four'},
						{'file': 'savon', 'label': 'equipments.Savon liquide'}
					],
					'Chambre et linge': [
						{'file': 'cintre', 'label': 'equipments.Cintres'},
						{'file': 'coussin', 'label': 'equipments.Oreillers et couvertures supplémentaires'},
						{'file': 'etendoir', 'label': 'equipments.Étendoir à linge'},
						{'file': 'machine-a-laver', 'label': 'equipments.Lave-linge'},
						{'file': 'fer-a-repasser', 'label': 'equipments.Fer à repasser'},
						{'file': 'serviette', 'label': 'equipments.Draps'},
						{'file': 'dressing', 'label': 'equipments.Espace de rangement pour les vêtements'}
					],
					'Famille': [
						{'file': 'dee', 'label': 'equipments.Jeux de sociétés'},
						{'file': 'chaise-haute', 'label': 'equipments.Chaise de bébé'},
						{'file': 'lit-bebe', 'label': 'equipments.Lit parapluie'},
						{'file': 'cododo', 'label': 'equipments.Lit'},
						{'file': 'couvert', 'label': 'equipments.Vaisselle pour enfants'}
					],
					'Salle de Bain': [
						{'file': 'savon', 'label': 'equipments.Équipements de base'},
						{'file': 'seche-cheveux', 'label': 'equipments.Sèche-cheveux'},
						{'file': 'shampooing', 'label': 'equipments.Shampooing'},
						{'file': 'produits-nettoyage', 'label': 'equipments.Produits de nettoyage'}
					],
					'Internet et bureau': [
						{'file': 'bureau', 'label': 'equipments.Espace de travail dédié'},
						{'file': 'wifi', 'label': 'equipments.Wifi (Fibre)'}
					],
					'Divertissement': [
						{'file': 'enceinte', 'label': 'equipments.Système audio'},
						{'file': 'tele', 'label': 'equipments.Télévision'},
						{'file': 'livre', 'label': 'equipments.Livres'}
					],
					'Climatisation': [
						{'file': 'clim', 'label': 'equipments.Climatisation (dans certaines pièces)'},
						{'file': 'ventilateur', 'label': 'equipments.Ventilateurs portables'}
					]
				} %}



				<div class="modal-body">
					{% for category, items in categories %}
						<div class="modal-body-criteria">
							<h3 class="title-criteria">{{ ('equipments.' ~ category)|trans }}</h3>
							<ul class="criteria-ul">
								{% for item in items %}
									<li>
										<div class="each-equipment">
											<div class="each-equipment-svg-content">
												<div class="each-equipment-svg">
													<img src="{{ asset('images/icones/' ~ item.file ~ '.svg') }}" class="img-fluid" alt="{{ item.label|trans }}">
												</div>
											</div>
											<div class="each-equipment-name">{{ item.label|trans }}</div>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endfor %}
				</div>
			</div>	
        </div>
    </div>
</div>
