<div class="container mt-4">
	<h4>{{ 'house2.prices'|trans }}</h4>
	<hr>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">{{ 'house2.period'|trans }}</th>
				<th scope="col">{{ 'house2.price'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ 'house2.date1'|trans }}</td>
				<td>1 690€ /
					{{ 'house2.week'|trans }}</td>
			</tr>
			<tr>
				<td>{{ 'house2.date2'|trans }}</td>
				<td>1 960€ /
					{{ 'house2.week'|trans }}</td>
			</tr>
			<tr>
				<td>{{ 'house2.date3'|trans }}</td>
				<td>1 310€ /
					{{ 'house2.week'|trans }}</td>
			</tr>
			<tr>
				<td>{{ 'house2.date4'|trans }}</td>
				<td>880€ /
					{{ 'house2.week'|trans }}</td>
			</tr>
		</tbody>
	</table>
	<p>{{ 'house2.rental_terms'|trans|raw }}</p>
</div>
