<div class="container mt-4">
	<h4>{{ 'house1.prices'|trans }}</h4>
	<hr>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">{{ 'house1.period'|trans }}</th>
				<th scope="col">{{ 'house1.price'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ 'house1.period1'|trans }}</td>
				<td>1 490€ /
					{{ 'house1.week'|trans }}</td>
			</tr>
			<tr>
				<td>{{ 'house1.period2'|trans }}</td>
				<td>1 790€ /
					{{ 'house1.week'|trans }}</td>
			</tr>
			<tr>
				<td>{{ 'house1.period3'|trans }}</td>
				<td>1 020€ /
					{{ 'house1.week'|trans }}</td>
			</tr>
			<tr>
				<td>{{ 'house1.period4'|trans }}</td>
				<td>790€ /
					{{ 'house1.week'|trans }}</td>
			</tr>
		</tbody>
	</table>
	<p>{{ 'house1.conditions'|trans|nl2br }}</p>
</div>
