<div class="container mt-4">
	<h4>{{ 'house3.prices'|trans }}</h4>
	<hr>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">{{ 'house3.period'|trans }}</th>
				<th scope="col">{{ 'house3.price'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ 'house3.date1'|trans }}</td>
				<td>1 530€ /
					{{ 'house3.week'|trans }}</td>
			</tr>
			<tr>
				<td>{{ 'house3.date2'|trans }}</td>
				<td>1 710€ /
					{{ 'house3.week'|trans }}</td>
			</tr>
			<tr>
				<td>{{ 'house3.date3'|trans }}</td>
				<td>1 920€ /
					{{ 'house3.week'|trans }}</td>
			</tr>
			<tr>
				<td>{{ 'house3.date4'|trans }}</td>
				<td>2 510€ /
					{{ 'house3.week'|trans }}</td>
			</tr>
			<tr>
				<td>{{ 'house3.date5'|trans }}</td>
				<td>1 920€ /
					{{ 'house3.week'|trans }}</td>
			</tr>
			<tr>
				<td>{{ 'house3.date6'|trans }}</td>
				<td>1 530€ /
					{{ 'house3.week'|trans }}</td>
			</tr>
			<tr>
				<td>{{ 'house3.date7'|trans }}</td>
				<td>990€ /
					{{ 'house3.week'|trans }}</td>
			</tr>
		</tbody>
	</table>
	<p>{{ 'house3.rental_terms'|trans|raw }}</p>
</div>
